
.sider {

  &-header {
    padding-left: 24px;
    padding-top: 18px;
    display: flex;
    align-items: center;

    &-img {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }

    &-title {
      font-size: 15px;
      color: #ffffff;
    }
  }

  &-content {

    &-title {
      margin: 24px;
  
      font-size: 12px;
      color: #ffffffa6;
    }
  }
  
}

